name: CI

on:
  push:
    branches: ["**"]
    tags: ['v*']
  pull_request:
    branches: ["**"]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # fetch full history for better diffs
          fetch-tags: true # ensure tags are available for versioning

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.x'
          cache: true

      - name: Dependencies
        run: |
          make deps

      - name: Tidy (check no diff)
        run: |
          go mod tidy
          git diff --exit-code -- go.mod go.sum

      - name: Lint (fmt + vet)
        run: |
          make check

      - name: Build (current platform)
        run: |
          make build
